@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

$primary-color: #131086;
$secondary-color: #b621f3;

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    // background: linear-gradient(45deg, $primary-color, $secondary-color);
    background-color: #b6d6e5;
    // background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); 
    // padding: 40px;
}
.loading{
  justify-content: center;
    margin-top: 20%;
    margin-left: 45%;
}
.photoo{
  // margin: 0;
  position: fixed;
  height: 100vh;
  width: 50%;
}
.notes-page{
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
}
.notes-page header{
  max-width: 1920px;
  min-height: 100px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
  text-shadow: 0px 11px 10px rgba(0, 0, 0, 0.8);
}
.notes-page header .logo{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.notes-page header ul li{
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}
.notes-page header ul li a{
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0px 11px 10px rgba(0, 0, 0, 0.8);
}
.notes-page header ul li a:hover{
  opacity: 1;
  color: black;
  font-weight: bolder;
}
.notes-page section{
  width: 100%;
  box-shadow: 0 0 5px rgb(7,25,63);
  padding: 20px 0;
}
.note-wrapper{
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.card{
  width: 100%;
  box-shadow: 0 0 5px rgb(7,25,63);
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  color: #ddd;
  margin: 15px;
}
.card .close{
  position: absolute;
  top:0;
  right: 10px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 1.5rem;
    margin-right: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
.card h4{
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
}
.card .text-wrapper{
  width: 100%;
  height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  margin: 0px 0;
  font-size: 20px;
  padding-left: 1rem;
  color: rgb(255 255 255);
}
.card .date{
  text-align: right;
  color: wheat;
}
.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  color: white;
}
.create-note{
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 30px;
  background-color: #ffffff;

}
.create-note h2{
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}
.create-note .row{
  width: 100%;
  margin: 10px 0;
}
.create-note input,
.create-note button{
  height: 40px;
  padding:  0 5px;
  transition: background 0.5s;
}
.create-note label{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.create-note textarea{
  width: 100%;
  resize: none;
  padding: 0 5px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
  border: none;
  border-radius: 10px;
}
.create-note button{
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  width: 100%;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
}
.create-note button:hover{
}
@media (max-width: 500px){
  .create-note{
    padding: 15px;
    // border: 5px solid #ccc;
  }
}

.login input,
.register input{
  margin-bottom: 15px;
  border: none;
  outline: none;
  background: rgba(219,219,219);
  padding-left: 1.5rem;
  width: 95%;
}
.login,
.register{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
// .login-page{
//   display: flex;
//   justify-content: center;
//   width: 100%;
//   height: 100vh;
//   background: white;
//   align-items: center;
// }

.login-page h2,
.login-page h3{
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  letter-spacing: 5px;
  font-size: 2rem;
    text-align: center;
}
.login-page h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 1px;
  font-size: 15px;
  color: red;
}
.login-page span:hover{
  color: #000000;
  text-shadow: 0px 11px 10px rgba(0, 0, 0, 0.8);
  
  cursor: pointer;
}
